@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic&display=swap);
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: linear 0.2s;
  -o-transition: linear 0.2s;
  transition: linear 0.2s;
  padding-bottom: 20px;
  z-index: 999;
}

.header__active {
  background: #0E1D28;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 56px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__item {
  margin-right: 82px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__header-link {
  font-size: 18px;
  line-height: 24px;
  color: white;
}

.header__header-link:hover, :focus, :active {
  opacity: .75;
}

.burger {
  display: none;
  width: 40px;
  height: 28px;
  position: relative;
}

.header__burger {
  display: none;
  width: 40px;
  height: 28px;
  position: relative;
}

.burger__line {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: white;
  left: 0;
}

.burger__line_top {
  top: 0;
}

.burger__line_center {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.burger__line_bottom {
  bottom: 0;
}

.intro {
  min-height: 100vh;
  background: url("/img/Hero.jpg") no-repeat center;
  background-size: cover;
  padding-top: 263px;
  padding-bottom: 223px;
}

.intro__title {
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: white;
  max-width: 619px;
  margin-bottom: 22px;
}

.intro__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: white;
  max-width: 546px;
  margin-bottom: 59px;
}

.search-form__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search-form__field {
  width: 297px;
  background: transparent url("/img/svg/Oval.svg") no-repeat left 6px;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #bfc0c5;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  font-weight: 500;
  font-size: 18px;
  color: white;
}

.search-form__field::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  color: white;
}

.search-form__field:-ms-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  color: white;
}

.search-form__field::-ms-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  color: white;
}

.search-form__field::placeholder {
  font-weight: 500;
  font-size: 18px;
  color: white;
}

.search-form__submit {
  padding: 15px 39px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  color: white;
  background: #1b7dff;
  border: 0;
}

.search-form__submit:hover,
:focus,
:active {
  background: #0e66da;
}

.benefits {
  margin-bottom: 131px;
}

.benefits__wrapper {
  max-width: 1262px;
  background: white;
  margin: 0 auto;
  -webkit-box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
          box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  position: relative;
}

.benefits__title {
  width: 100%;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  padding: 93px 100px 88px 100px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  background-color: #fff;
}

.benefits__grid-of-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 55px;
          column-gap: 55px;
  padding: 0 100px;
}

.benefits__card {
  grid-column: span 1;
  margin-bottom: 112px;
}

.benefits__card-pic {
  margin-bottom: 37px;
  max-width: 66px;
}

.benefits__card-icon {
  display: block;
}

.benefits__card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: black;
  margin-bottom: 26px;
}

.benefits__card-desc {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: black;
  margin-bottom: 39px;
}

.benefits__card-link {
  padding-right: 59px;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  color: #006dfe;
  text-decoration: none;
  background: url("/img/svg/arrow-ico.svg") no-repeat 95% center;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

.benefits__card-link:hover,
:focus {
  background: url("/img/svg/arrow-ico.svg") no-repeat right center;
}

.places__title {
  margin-right: 15px;
}

.places__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 36px;
}

.places__view-all {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #006dfe;
  background: url("/img/svg/arrow-ico.svg") no-repeat 95% center;
  padding-right: 59px;
}

.places__view-all:hover,
:focus {
  opacity: 0.65;
}

.places {
  margin-bottom: 131px;
}

.places__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.places__card {
  position: relative;
  overflow: hidden;
}

.places__card::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(21, 24, 36, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.places__card:hover .places__card-pic {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.places__card-pic {
  width: 100%;
  height: 354px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s;
}

.places__card_size_lg {
  grid-column: span 3;
}

.places__card-pic_size_lg {
  height: 354px;
  -o-object-fit: cover;
     object-fit: cover;
}

.places__card_size_small {
  grid-column: span 2;
}

.places__card-pic_size_sm {
  height: 283px;
  -o-object-fit: cover;
     object-fit: cover;
}

.places__card-title {
  position: absolute;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  color: #fff;
  display: block;
  padding-bottom: 27px;
  padding-left: 29px;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  z-index: 4;
}

.places__card-link {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.tours {
  margin-bottom: 139px;
}

.tours__tour {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 108px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 77px;
}

.tours__tour2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 108px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tour__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  color: #102746;
  margin-right: 108px;
  margin-bottom: 85px;
}

.tour__desc {
  font-size: 16px;
  line-height: 24px;
  color: #102746;
  margin-bottom: 58px;
}

.tour__info-link {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #006dfe;
  background: url("/img/svg/arrow-ico.svg") no-repeat 95% center;
  padding-right: 59px;
}

.tour__info-link:hover,
:focus {
  opacity: 0.65;
}

.top {
  margin-bottom: 86px;
}

.top__title {
  margin-bottom: 54px;
}

.top__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 57px;
  grid-row-gap: 57px;
}

.top__grid__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-column: span 2;
}

.top__card-pic {
  margin-bottom: 45px;
  position: relative;
}

.top__card-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(21, 24, 36, 0.6);
  padding: 16px 25px;
}

.top__card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: white;
  margin: 0 auto 0 0;
}

.top__card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: white;
}

.top__card-likes {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding-right: 20px;
  background: url("/img/svg/like.svg") no-repeat right;
  margin-right: 14px;
}

.top__card-comments {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding-right: 23px;
  background: url("/img/svg/comment.svg") no-repeat right;
}

.top__card-desc {
  font-size: 16px;
  line-height: 24px;
  color: #102746;
  margin-bottom: 31px;
}

.top__card-link {
  width: 118px;
  padding: 12px 19px;
  background: #006dfe;
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin: auto 0 0 0;
}

.top__card-link:hover, :focus, :active {
  background: #0e66da;
}

.video {
  width: 100%;
}

.video__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.video__item {
  padding-top: 56.25%;
}

.vedio__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer {
  background: #0e1d28;
  padding: 119px 0;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.left {
  width: 50%;
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__list {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: white;
}

.footer__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.footer__list li > a {
  text-decoration: none;
  color: white;
}

.footer__list li > a:hover, :focus, :active {
  opacity: .75;
}

@media (max-width: 767px) {
  .header__burger {
    display: block;
  }
  .header__nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    z-index: 15;
    padding: 75px;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.3s linear all;
    -o-transition: 0.3s linear all;
    transition: 0.3s linear all;
  }
  .header__nav-active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .header__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .header__item:last-child {
    margin-bottom: 0;
  }
  .header__header-link {
    font-size: 42px;
    line-height: 48px;
  }
  .header__nav-close {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 880;
  }
  .nav-close__line {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    top: 50%;
  }
  .nav-close__line:first-child {
    -webkit-transform: rotate(45deg) translateY(-50%);
        -ms-transform: rotate(45deg) translateY(-50%);
            transform: rotate(45deg) translateY(-50%);
  }
  .nav-close__line:last-child {
    -webkit-transform: rotate(-45deg) translateY(-50%);
        -ms-transform: rotate(-45deg) translateY(-50%);
            transform: rotate(-45deg) translateY(-50%);
  }
  .section__title {
    margin-bottom: 25px;
  }
  .header__wrapper {
    padding-top: 28px;
  }
  .search-form__field {
    width: 100%;
    margin-right: 0;
  }
  .benefits__card {
    grid-column: span 3;
  }
  .intro {
    padding-top: 125px;
  }
  .intro__title {
    font-size: 35px;
    line-height: 45px;
  }
  .intro__subtitle {
    font-size: 14px;
  }
}

@media (max-width: 960px) {
  .search-form__field {
    margin-bottom: 25px;
    font-size: 12px;
    background: transparent url("/img/svg/Oval.svg") no-repeat left 2px;
  }
  .search-form__field::-webkit-input-placeholder {
    font-size: 16px;
  }
  .search-form__field:-ms-input-placeholder {
    font-size: 16px;
  }
  .search-form__field::-ms-input-placeholder {
    font-size: 16px;
  }
  .search-form__field::placeholder {
    font-size: 16px;
  }
  .search-form__submit {
    margin-bottom: 35px;
    width: 100%;
  }
  .benefits {
    margin-bottom: 75px;
  }
  .benefits__wrapper {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .benefits__grid-of-cards {
    padding: 0 15px;
    -webkit-column-gap: 35px;
            column-gap: 35px;
  }
  .benefits__card {
    margin-bottom: 0;
  }
  .places__card_size_lg {
    grid-column: span 6;
  }
  .places__card_size_small {
    grid-column: span 6;
  }
  .tours__tour {
    grid-column-gap: 35px;
    padding-left: 0;
  }
  .tours__tour2 {
    grid-column-gap: 35px;
    padding-left: 0;
  }
  .tour__title {
    margin-bottom: 15px;
  }
  .tour__desc {
    margin-bottom: 15px;
  }
  .top__grid__card {
    grid-column: span 3;
    grid-column-gap: 25px;
    grid-row-gap: 55px;
  }
  .footer {
    padding: 20px;
  }
  .footer__list {
    margin-right: 15px;
  }
  .footer__list:last-child {
    margin-right: 0;
  }
}

@media (max-width: 500px) {
  .header__nav {
    padding: 75px 30px;
  }
  .intro {
    padding-bottom: 150px;
  }
  .benefits__card {
    margin-bottom: 15px;
  }
  .benefits__title {
    position: relative;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
  .benefits__card-pic {
    margin-bottom: 25px;
  }
  .benefits__card-desc {
    margin-bottom: 25px;
  }
  .places {
    margin-bottom: 40px;
  }
  .places__title {
    margin-bottom: 15px;
  }
  .places__card-pic_size_lg, .places__card-pic_size_sm {
    height: 230px;
  }
  .top__grid__card {
    grid-column: span 6;
  }
  .top__card-pic {
    width: 100%;
  }
  .top__card-desc {
    margin-bottom: 15px;
  }
  .tours {
    margin-bottom: 25px;
  }
  .tour__pic, .tour__info {
    grid-column: span 2;
    margin-bottom: 25px;
  }
  .top-to-mobile {
    -ms-grid-row: -1;
        grid-row-start: -1;
  }
  .left {
    width: 100%;
    margin-bottom: 15px;
  }
  .footer__logo-pic {
    height: 50px;
  }
  .right {
    width: 100%;
  }
  .footer__list a {
    width: 50%;
    margin-bottom: 5px;
  }
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Lato";
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 15px;
}

.full__wrapper {
  max-width: 1262px;
  margin: 0 auto;
  padding: 0 15px;
}

.section__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #102746;
  position: relative;
  padding-bottom: 10px;
}

.section__title::after {
  display: block;
  content: "";
  width: 253px;
  height: 3px;
  background-color: #006dfe;
  position: absolute;
  bottom: 0;
  left: 0;
}
