//* imports
@import "_fonts";
@import "_header";
@import "_burger";
@import "_main";
@import "_footer";
@import "_media";
@import "_normalize";
//* imports
//! Body Standard
body {
    font-family: $ff;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}
//! Body Standard
// img-to-fit-container
img {
    max-width: 100%;
    height: auto;
}
// *img-to-fit-container
//todo Main wrapper
.wrapper {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}
//todo Main wrapper
.full__wrapper {
    max-width: 1262px;
    margin: 0 auto;
    padding: 0 15px;
}
// for all sections
.section__title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #102746;
    position: relative;
    padding-bottom: 10px;
}
.section__title::after {
    display: block;
    content: "";
    width: 253px;
    height: 3px;
    background-color: #006dfe;
    position: absolute;
    bottom: 0;
    left: 0;
}
